.list {
  width: 100%;
  padding: 20px;
  min-height: calc(100vh - 265px);
  .tab_actions {
    text-align: right;
    .l {
      color: rgba(0, 0, 0, 0.06);
    }
    .addBtnIcon {
      font-size: 16px;
      margin-right: 3px;
    }
  }
}

.column_actions .action {
  display: inline-block;
  padding: 0;
  line-height: 32px;
}
.search {
  :global(.ant-form-item) {
    margin-bottom: 10px;
  }
}

.column_name {
  color: @link-color;
}

.emptyIcon {
  font-size: 80px;
  color: #40a9ff;
}
.blue {
  color: #40a9ff;
  font-weight: bold;
}

.table {
  position: relative;
  table {
    position: relative;
    z-index: 2;
  }
}
.verify_uploader {
  width: 600px;
}
