.dataset {
  margin: 0 0 0 30px;
}
.panel {
  .header {
    margin: 10px 0;
    padding: 0 16px;
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    &:before {
      content: ' ';
      display: inline-block;
      margin-right: 10px;
      margin-top: 18px;
      height: 16px;
      width: 6px;
      background-color: @primary-color;
    }
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .foldBtn {
      color: @btn-primary-bg;
    }
  }
}
.keyword {
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 4px 12px;
  margin-bottom: 10px;
}
.classics {
  display: flex;
  width: 80%;
  text-align: left;
  margin: auto;
}
.submit {
  // margin: 50px 0 0 25%;
}
