version: "3.3"
services:
  labelstudio:
    image: heartexlabs/label-studio:latest
    env_file:
      - .env
    ports:
      - ${LABEL_TOOL_HOST_PORT}:8080
    environment:
      - LOCAL_FILES_SERVING_ENABLED=true
      - SENTRY_DSN=
      - FRONTEND_SENTRY_DSN=
    # temporary walkaround for start up issue:
    # https://github.com/heartexlabs/label-studio/issues/3070
    security_opt:
      - seccomp:unconfined
    volumes:
      - "${YMIR_PATH}/label-studio_data:/label-studio/data"
      - "${BACKEND_SANDBOX_ROOT}:${BACKEND_SANDBOX_ROOT}"
    restart: on-failure:10
    networks:
      - extnetwork

networks:
    extnetwork:
      driver: bridge
      ipam:
        driver: default
        config:
        - subnet: 172.168.255.0/24
          gateway: 172.168.255.1
