mypy==0.910
mypy-extensions==0.4.3
types-protobuf
types-PyYAML
black==19.10b0
flake8==3.8.3
pre-commit==2.13.0
bump2version==0.5.11
sqlalchemy-stubs==0.4
coverage==5.5
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
tox==3.24.0
pytest-xdist
