.info {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  background: #fff;
  .infoRow {
    height: 100%
  }
  :global(.ant-tag-checkable-checked) {
    filter: drop-shadow(1px 1px 1px black);
  }
  .asset_info {
    position: relative;
    overflow-y: auto;
    .random {
      position: absolute;
      // bottom: 0;
    }
    .back {
      left: 10px;
    }
  }
}
.filter {
  margin-top: 20px;
}
.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-weight: bold;
}
.asset_img {
  height: 100%;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  text-align: center;
}
