.list {
  min-height: calc(100vh - 494px);
  padding: 20px 0;
  .tab_actions {
    text-align: right;
    .l {
      color: rgba(0, 0, 0, 0.06);
    }
    .addBtnIcon {
      font-size: 16px;
      margin-right: 3px;
    }
  }
  .pager {
    margin: 16px 20px;
  }
}
.search {
  margin-left: 15px;
}
.action_del {
  // color: red;
}
.emptyIcon {
  font-size: 80px;
  color: #40a9ff;
}
.blue {
  color: #40a9ff;
  font-weight: bold;
}
.extraTag, .extraIterTag {
  padding: 2px 8px;
  font-size: 12px;
  color:rgba(0, 0, 0, 0.65);
  background-color: #f5f5f5;
}
.extraIterTag {
  color: @primary-color;
  background-color: rgba(54, 203, 203, 0.08);
}
