@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1651198552473') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-del-two:before {
  content: "\e695";
}

.icon-arrow-down:before {
  content: "\e696";
}

.icon-add-two:before {
  content: "\e697";
}

.icon-addtask:before {
  content: "\e698";
}

.icon-arrow-right:before {
  content: "\e699";
}

.icon-add:before {
  content: "\e69a";
}

.icon-edit:before {
  content: "\e69b";
}

.icon-book:before {
  content: "\e69c";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-file-history:before {
  content: "\e69e";
}

.icon-barchart:before {
  content: "\e69f";
}

.icon-eye-on:before {
  content: "\e6a0";
}

.icon-file-yes:before {
  content: "\e6a1";
}

.icon-english:before {
  content: "\e6a2";
}

.icon-fail:before {
  content: "\e6a3";
}

.icon-eye-off:before {
  content: "\e6a4";
}

.icon-china:before {
  content: "\e6a5";
}

.icon-flow:before {
  content: "\e6a6";
}

.icon-excavate:before {
  content: "\e6a7";
}

.icon-jiedian:before {
  content: "\e6a8";
}

.icon-metadataset:before {
  content: "\e6a9";
}

.icon-inprogress:before {
  content: "\e6aa";
}

.icon-more:before {
  content: "\e6ab";
}

.icon-import:before {
  content: "\e6ac";
}

.icon-image:before {
  content: "\e6ad";
}

.icon-more-1:before {
  content: "\e6ae";
}

.icon-manage:before {
  content: "\e6af";
}

.icon-mymodel:before {
  content: "\e6b0";
}

.icon-no:before {
  content: "\e6b1";
}

.icon-nav-home:before {
  content: "\e6b2";
}

.icon-nav-dataset:before {
  content: "\e6b3";
}

.icon-mydataset:before {
  content: "\e6b4";
}

.icon-prohibit:before {
  content: "\e6b5";
}

.icon-sound:before {
  content: "\e6b6";
}

.icon-search:before {
  content: "\e6b7";
}

.icon-refresh:before {
  content: "\e6b8";
}

.icon-screen:before {
  content: "\e6b9";
}

.icon-mytask:before {
  content: "\e6ba";
}

.icon-search-eye:before {
  content: "\e6bb";
}

.icon-nav-task:before {
  content: "\e6bc";
}

.icon-no-xlmx:before {
  content: "\e6bd";
}

.icon-nav-modelmanage:before {
  content: "\e6be";
}

.icon-tips:before {
  content: "\e6bf";
}

.icon-yes:before {
  content: "\e6c0";
}

.icon-optimal-model:before {
  content: "\e6c1";
}

.icon-tree:before {
  content: "\e6c3";
}

.icon-uploadfile:before {
  content: "\e6c4";
}

.icon-success:before {
  content: "\e6c6";
}

.icon-shield:before {
  content: "\e6c7";
}

.icon-wajue:before {
  content: "\e6c8";
}

.icon-tagging:before {
  content: "\e6c9";
}

.icon-shut-down:before {
  content: "\e6ca";
}

.icon-lock:before {
  content: "\e6cb";
}

.icon-user:before {
  content: "\e6cc";
}

.icon-logout-circle:before {
  content: "\e6cd";
}

.icon-email:before {
  content: "\e6ce";
}

.icon-copy:before {
  content: "\e6cf";
}

.icon-key:before {
  content: "\e6d0";
}

.icon-smartphone:before {
  content: "\e6d1";
}

.icon-Vector:before {
  content: "\e6d2";
}

.icon-flag:before {
  content: "\e6d3";
}

.icon-price-tag:before {
  content: "\e6d4";
}

.icon-putaway:before {
  content: "\e6d5";
}

.icon-downtitle:before {
  content: "\e6d6";
}

.icon-close-two:before {
  content: "\e6d7";
}

.icon-stop:before {
  content: "\e6d8";
}

.icon-open-two:before {
  content: "\e6d9";
}

.icon-file-download:before {
  content: "\e6da";
}

.icon-recreate:before {
  content: "\e6db";
}

.icon-equalizer:before {
  content: "\e6dc";
}

.icon-github:before {
  content: "\e6dd";
}

.icon-arrow-up:before {
  content: "\e6de";
}

.icon-funnel:before {
  content: "\e6df";
}

.icon-user-settings:before {
  content: "\e6e0";
}

.icon-train:before {
  content: "\e6c2";
}

.icon-no-sjj:before {
  content: "\e6c5";
}

.icon-reasoning:before {
  content: "\e6e1";
}

.icon-clear:before {
  content: "\e6e2";
}

.icon-quote-nub:before {
  content: "\e6e3";
}

.icon-clear1:before {
  content: "\e6e4";
}

.icon-sta:before {
  content: "\e6e5";
}

.icon-star-half:before {
  content: "\e6e6";
}

.icon-share:before {
  content: "\e6e7";
}

.icon-user-shared:before {
  content: "\e6e8";
}

.icon-user-associated:before {
  content: "\e6e9";
}

.icon-tv:before {
  content: "\e6ea";
}

.icon-Iterative:before {
  content: "\e6eb";
}

.icon-bar-chart-2-line:before {
  content: "\e6ec";
}

.icon-artboard-2-line:before {
  content: "\e6ed";
}

.icon-repeat-2-line:before {
  content: "\e6ee";
}

.icon-skip-back-mini-line:before {
  content: "\e6ef";
}

.icon-terminal-box-line:before {
  content: "\e6f0";
}

.icon-bug-line:before {
  content: "\e6f1";
}

.icon-questionnaire-line:before {
  content: "\e6f2";
}

.icon-brackets-line:before {
  content: "\e6f3";
}

.icon-global-line:before {
  content: "\e6f4";
}

.icon-project:before {
  content: "\e6f5";
}

.icon-revert:before {
  content: "\e6f6";
}

.icon-code-box-line:before {
  content: "\e6f7";
}

.icon-loader:before {
  content: "\e6f8";
}

.icon-than_list:before {
  content: "\e6f9";
}

.icon-than:before {
  content: "\e6fa";
}

.icon-pretreatment:before {
  content: "\e6fb";
}

