@error: rgb(242, 99, 123);
@success: @primary-color;
@warning: fade(yellow, 30);
.style(@type, @color) {
  &@{type} {
    background: fade(@color, 10);
    border: 1px solid @color;
  }
  @{type} {
    color: @color;
  }
}
.tipContainer {
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  line-height: 40px;
  padding: 0 10px;
  .icon {
    margin-right: 10px;
  }

  .style('.success', @success);
  .style('.error', @error);
  .style('.warning', @warning);
}
