.container {
  line-height: 18px;
}
.progress {
  position: relative;
}
.bg {
  width: 100%;
  background: #000000cc;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.part {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  text-align: center;
}
