.list {
  :global(.ant-list-item), :global(.ant-list-item:last-child) {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    border-radius: 2px;
    &:hover {
      border-color: @primary-color;
      background-color: fade(@primary-color, 5);
    }
    &.falure {
      border-color:rgb(242, 99, 123);
    }
  }
  :global(.ant-list-item-meta-title) {
    font-size: 18px;
  }
  .info {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
  }
  .related {
    color: rgba(0, 0, 0, 0.65);
  }
}
.title {
  font-weight: bold;
  position: relative;
  .tabs {
    :global(.ant-tabs-tab-btn) {
      font-size: 16px !important;
    }
  }
  .search {
    position: absolute;
    right: 0;
    :global(.ant-form-item:last-child) {
      margin-right: 0;
    }
    :global(.ant-form-item-control) {
      font-weight: normal;
    }
  }
}
.addBtn {
  margin: 10px 0;
  padding: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.15);
  width: 100%;
  color: @primary-color;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  &:hover {
    border-color: @primary-color;
  }
}
.pager {
  display: flex;
  justify-content: flex-end;
}
