black==19.10b0
bump2version==0.5.11
coverage==5.5
flake8==3.8.3
mypy-extensions==0.4.3
mypy==0.910
pre-commit==2.13.0
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-xdist==2.5.0
pytest==6.2.4
redislite>=6.0.0
sqlalchemy-stubs==0.4
tox==3.24.0
types-protobuf==3.18.2
types-PyYAML==6.0.1
