[run]
omit =
    */main.py
    */__main__.py
    */__init__.py

[report]
include =
    mir/commands/*.py
    mir/tools/*.py
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    import
    from
    def run\(self\)
    bind_to_subparsers
    class CmdReset
    _process_model_storage
    _run_train_cmd
    _process_infer_results
    run_docker_cmd

ignore_errors = True