.wrapper {
  height: 100%;
}
.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  :global(.ant-card-body) {
    flex: 1;
    overflow-y: auto;
  }
}
.formContainer {
  position: relative;
}
.mask {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5;
  margin: 0 -10px -10px;
}

.extra {
  padding: 2px 8px;
  font-size: 12px;
  color:rgba(232, 185, 0, 1);
  background-color: rgba(250, 211, 55, 0.1);
}
:global(body .ant-tooltip-placement-top) {
  z-index: 1000;
}