.header {
  background: #fff;
  margin: -20px -5vw 0;
  padding: 0 5vw 20px;
}
.detailPanel {
  margin-bottom: 10px;
}
.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-weight: bold;
}

:global(.ant-card-body){
  .infoTable {
    margin-bottom: 20px;
    :global(.ant-descriptions-view){
      border: none;
    }
    tr,th,td {
      border: none;
    }
    tr {
      margin-bottom: 1px;
      border-bottom: 1px solid #fff;
    }
  }
}
.detailPanel {
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  .orange {
    color: orange;
  }
  .bold {
    font-weight: bold;
  }
  .target {
    color: @btn-primary-bg;
  }
}
.setsPanel {
  margin: 20px 0;
  padding: 10px;
  background-color: #fafafa;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
