.header {
  background: #fff;
  margin: -20px -5vw 0;
  padding: 0 5vw 30px;
}
.detailPanel {
  margin-bottom: 20px;
}
.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-weight: bold;
}
.noShadow {
  box-shadow: 0px 0px 0px rgb(255 255 255);
}
.detailPanel {
  :global(.ant-space-item) {
    margin-right: 16px;
    color: rgba(0, 0, 0, 0.65);
  }
  .name {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
  }
  .orange {
    color: orange;
  }
  .black {
    color: rgba(0, 0, 0, 0.85);
  }
  .bold {
    font-weight: bold;
  }
  .target {
    color: @btn-primary-bg;
  }
}
.setsPanel {
  margin-top: 20px;
  padding: 10px;
  background-color: #fafafa;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
