.list {
  :global(.ant-list-item), :global(.ant-list-item:last-child) {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    border-radius: 2px;
    &:hover {
      border-color: @primary-color;
      background-color: fade(@primary-color, 5);
    }
  }
}
.addBtn {
  margin: 10px 0;
  padding: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.15);
  width: 100%;
  color: @primary-color;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  &:hover {
    border-color: @primary-color;
  }
}
.pager {
  display: flex;
  justify-content: flex-end;
}
.iterations {
  .table {
    min-height: calc(100vh - 305px);
  }
  .extraTag {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-align: right;
    .negative, .positive, .neutral {
      display: inline-block;
      padding: 2px 4px;
      border-radius: 4px;
      &::after {
        display: inline-block;
        margin-left: 4px;
      }
    }
    .negative {
      background-color: darkred;
      &::after {
        content: '\2193';
      }
    }
    .positive {
      &::after {
        content: '\2191';
      }
      background-color: darkgreen;
    }
    .neutral {
      background-color: darkgray;
    }
  }
}
.orange {
  color: orange;
}
.hiddenList {
  .table {
    padding: 20px;
    min-height: calc(100vh - 320px);
  }
}
