.iteration {
  background: #fff;
  margin: 0 -5vw;
  padding: 20px 5vw;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
}
.num {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid @primary-color;
  text-align: center;
}
.lineContainer {
  padding: 0 4px;
}
.line {
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: @primary-color;
}