.num {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 1px solid @primary-color;
  text-align: center;
}
.lineContainer {
  padding: 0 4px;
}
.line {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: @primary-color;
}
.skip {
  cursor: pointer;
  color: @btn-primary-bg;
  &:hover {
    text-decoration: underline;
  }
}