.unauth {
  min-height: 100%;
}
.home {
  .content {
    padding: 0 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .footer {
    height: 50px;
  }
}
.normal {
  font-family: Arial, 'Microsoft Yahei', sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: 0;
  color: white;
  margin: 0;
}
