# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    branches: [ master, dev ]
    paths:
      - 'ymir/web/**'

jobs:
  web-ci:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      working-directory: ymir/web
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
      run: |
        npm install
        npm run build --prod
        npm run test:coverage
      uses: actions/setup-node@v2
